In [1]:
import pandas as pd

In [2]:
all_cols_df = pd.read_csv('game_data/game_stats.csv')

In [3]:
import numpy as np
df = all_cols_df.iloc[:, 0:12]
df['Result'] = np.where(df['HomeScore'] > df['AwayScore'], 1, -1)


df.head()

,Date,KickOff,HomeTeam,AwayTeam,Venue,HomeScore,AwayScore,PlayOff Game?,HomeGoals,HomeBehinds,AwayGoals,AwayBehinds,Result
0,25-Apr-18,15:20,Collingwood,Essendon,MCG,101,52,NaN,14,17,7,10,1
1,24-Apr-18,19:25,Melbourne,Richmond,MCG,56,102,NaN,8,8,15,12,-1
2,22-Apr-18,16:40,Brisbane,Gold Coast,Gabba,71,76,NaN,10,11,11,10,-1
3,22-Apr-18,15:20,North Melbourne,Hawthorn,Etihad Stadium,98,70,NaN,14,14,11,4,1
4,21-Apr-18,18:10,Fremantle,Western Bulldogs,Simonds Stadium,108,54,NaN,16,12,8,6,1

In [4]:
import datetime as dt
teams = ['Collingwood', 'Essendon', 'Brisbane', 'Gold Coast', 'North Melbourne', 'Hawthorn', 'Fremantle', 'Western Bulldogs', 'Port Adelaide', 'Geelong', 'Carlton', 'West Coast', 'St Kilda', 'GWS Giants', 'Sydney', 'Adelaide', 'Melbourne', 'Richmond']

datetimes = []
dates, times = df['Date'], df['KickOff']

for i in range(len(dates)):
    date_str = str(dates[i]) + " " + str(times[i]) + ":00"
    date = dt.datetime.strptime(date_str, "%d-%b-%y %H:%M:%S")
    
    datetimes.append(date)

print(datetimes[-1])

df['Datetime'] = datetimes

df = df.iloc[:, range(2,14)]


df = df.set_index('Datetime')

df_17, df_18, df_16 = df['2017'], df['2018'], df['2016']

2009-06-19 19:40:00

In [5]:
len(df_18['AwayScore'])

45

In [6]:
scores_for, scores_against, num_games = dict(), dict(), dict()

for team in teams:
    scores_for[team], scores_against[team] = 0, 0    
    num_games[team] = 0
    
for home_team, away_team, home, away in zip(df_18['HomeTeam'], df_18['AwayTeam'], df_18['HomeScore'], df_18['AwayScore']):
    scores_for[home_team] += home
    scores_for[away_team] += away
    scores_against[home_team] += away
    scores_against[away_team] += home

    num_games[home_team] += 1
    num_games[away_team] += 1

In [7]:


team_df = pd.DataFrame()

team_df['GamesPlayed'] = pd.Series(num_games)
team_df['For'] = pd.Series(scores_for)
team_df['Against'] = pd.Series(scores_against)


team_df.head()

             GamesPlayed  For  Against
Adelaide               5  452      417
Brisbane               5  336      490
Carlton                5  337      517
Collingwood            5  453      382
Essendon               5  430      482

In [8]:
avgs_for, avgs_against = dict(), dict()
for team in teams:
    avgs_for[team], avgs_against[team] = 0,0
    
for team, games, F, A in zip(team_df.index, team_df['GamesPlayed'], team_df['For'], team_df['Against']) :
    avgs_for[team] = F/games
    avgs_against[team] = A/games

team_df['AvgFor'] = pd.Series(avgs_for)
team_df['AvgAgainst'] = pd.Series(avgs_against)

In [9]:
team_df

                  GamesPlayed  For  Against  AvgFor  AvgAgainst
Adelaide                    5  452      417    90.4        83.4
Brisbane                    5  336      490    67.2        98.0
Carlton                     5  337      517    67.4       103.4
Collingwood                 5  453      382    90.6        76.4
Essendon                    5  430      482    86.0        96.4
Fremantle                   5  421      404    84.2        80.8
GWS Giants                  5  470      357    94.0        71.4
Geelong                     5  481      413    96.2        82.6
Gold Coast                  5  359      412    71.8        82.4
Hawthorn                    5  493      432    98.6        86.4
Melbourne                   5  421      474    84.2        94.8
North Melbourne             5  434      321    86.8        64.2
Port Adelaide               5  435      413    87.0        82.6
Richmond                    5  517      375   103.4        75.0
St Kilda                    5  334      457    66.8        91.4
Sydney                      5  450      431    90.0        86.2
West Coast                  5  520      393   104.0        78.6
Western Bulldogs            5  358      531    71.6       106.2

In [10]:
t_score, t_games = 0, 0

for team, games, F, A in zip(team_df.index, team_df['GamesPlayed'], team_df['For'], team_df['Against']):
    t_score += F
    t_games += games
                 
avg_score = t_score/t_games

In [11]:
attacks = dict()
defences = dict()

for team, avg_for, avg_against in zip(team_df.index, team_df['AvgFor'], team_df['AvgAgainst']):
    attacks[team] = avg_for/avg_goals
    defences[team] = avg_against/avg_goals

team_df['Attack'] = pd.Series(attacks)
team_df['Defence'] = pd.Series(defences)


team_df

,GamesPlayed,For,Against,AvgFor,AvgAgainst,Attack,Defence
Adelaide,5,452,417,90.4,83.4,1.056486,0.974679
Brisbane,5,336,490,67.2,98.0,0.785353,1.145306
Carlton,5,337,517,67.4,103.4,0.787690,1.208414
Collingwood,5,453,382,90.6,76.4,1.058824,0.892871
Essendon,5,430,482,86.0,96.4,1.005064,1.126607
Fremantle,5,421,404,84.2,80.8,0.984028,0.944293
GWS Giants,5,470,357,94.0,71.4,1.098559,0.834437
Geelong,5,481,413,96.2,82.6,1.124270,0.965329
Gold Coast,5,359,412,71.8,82.4,0.839112,0.962992
Hawthorn,5,493,432,98.6,86.4,1.152318,1.009739
Melbourne,5,421,474,84.2,94.8,0.984028,1.107908
North Melbourne,5,434,321,86.8,64.2,1.014414,0.750292
Port Adelaide,5,435,413,87.0,82.6,1.016751,0.965329
Richmond,5,517,375,103.4,75.0,1.208414,0.876510
St Kilda,5,334,457,66.8,91.4,0.780678,1.068173
Sydney,5,450,431,90.0,86.2,1.051811,1.007402
West Coast,5,520,393,104.0,78.6,1.215427,0.918582
Western Bulldogs,5,358,531,71.6,106.2,0.836774,1.241138

In [12]:
avg_goals

85.56666666666666